#juego{
  min-height: 500px;
  max-height: 800px;
  width: 80%;
  margin-left: 10%;
  border-style: solid;
  border-color: black;
  margin-top: 0;
}
canvas{
  position: absolute;
  left: 10%;
  border: 2px solid black;
  border-radius: 20px;
  min-height: 500;
  max-height: 800;
}
#cabecera{
  text-align: center;
}
#cabecera p{
  font-size: 20px;
  font-family: serif;
  margin: 5px;
}
#titulo{
  font-weight: bold;
  font-size: 40px !important;
}
.principal{
  margin-left: 40%;
}
.opciones{
  margin-top: 15%;
  margin-left: 7%;
}
#botones{
  position: relative;
  top: 500px;
  margin-left: 10%;
  margin-top: 1%;
}

#botones button{
  margin: 1%;
  padding: 2%;
  border-radius: 20px;
  font-family: serif;
  font-size: 20px;
  color: white;
}

#acabar{
  background-color: green;
}

#empezar{
  background-color: red;
}
