<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/entrenamiento.css">
  {% block css %}{% endblock %}
    <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  </head>
  <body onload="load()">

      <div id="cabecera">
        <p id="titulo">Mi juego</p>
        <p>Nivel: <span id="nivel">0</span> - Puntos: <span id="puntos"></span></p>
      </div>

      <div id="juego">
        {% block juego %}

        {% endblock %}
      </div>
      <div id="botones">
        <input type="hidden" name="puntos" id="inputPuntos" value="">
        <input type="hidden" name="nivel" id="nivel" value="">
        <button type="button" name="button" id="acabar">Acabar entrenamiento</button>
        <button type="button" name="button" id="empezar">Empezar de nuevo</button>
      </div>
  </body>
  {% block funcionalidad %}{% endblock %}
</html>
